#btn-el{
    background-color: red;
}

.h1{
    background-color: red;
}

.body {
    background-color: red;
}

.keys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: rgb(105, 105, 105);

}

.button{
    background-color: blue;
    padding: 100px;
}

